@charset "UTF-8";

.leaflet-container {
    background-color:#888;
}

.leaflet-zoom-anim .zoom-hide-transition{
  opacity: 0;
  transition: opacity 0s,visibility 0s;
}
.zoom-hide-transition{
  opacity: 1;
  transition: opacity 250ms,visibility 250s;
}

.HeatMap_layout.Heatmap_loading{
  opacity: 0.5;
}
.HeatMap_obsUnit{
  opacity: 0.7;
}
.HeatMap_obsUnit-focus{
  opacity: 0.9;
}
.HeatMap_block-focus{
  stroke-width:4px;
}
.HeatMap_rep-focus{
  stroke-width:6px;
}
