@charset "UTF-8";


    #trait_heatmap {display: inline; }
    #trial_no_phenoMSG {display: none; }
    #trial_no_rowColMSG {display: none; }
    #traitdiv {display: none; }
    #trial_heatmap_div  {display: none; }
    #chart {display: none; }
    #chart_fm {display: none; }
    #d3legend {display: none; }
    #plot_image_ids {display: none;}
    
    #container_heatmap {
        //border:2px dashed #000;
        height: 390px;
        width: 700px;
        overflow: auto;
        //overflow: scroll;
        display: none;
        margin: 10px;
    }
    #container_fm {
        //border:2px dashed #000;
        height: 390px;
        width: 700px;
        overflow: auto;
        //overflow: scroll;
        display: none;
        margin: 10px;
    }
    
    rect.bordered {
        stroke: #E6E6E6;
        stroke-width:2px;   
      }

      text.mono {
        font-size: 9pt;
        font-family: Consolas, courier;
        fill: #aaa;
      }

      text.axis-workweek {
        fill: #000;
      }

      text.axis-worktime {
        fill: #000;
      }
      
      .legend { list-style: none; }
      .legend li { float: left; margin-right: 10px; }
      .legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }

      .legend .d3block_even_number { background-color: #c7e9b4; }
      .legend .d3block_odd_number { background-color: #41b6c4; }
      .legend .d3checks { background-color: #081d58; }
      .legend .d3rep_even_number { background-color: red; height: 8px; width: 18px;}
      .legend .d3rep_odd_number { background-color: green; height: 8px; width: 18px;}